<!DOCTYPE html>
<html>
<head>
  <title>Jennifer B. Armstrong</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <nav id="navigation">
    <ul>
      <li><a href="#">Resume</a></li>
      <li><a href="#">Github</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
<body>

<%= yield %>

</body>
</html>
